.text-area {
    height: 100%;
    resize: none;
    border-style: none;
    border-color: transparent;
    overflow: auto;

    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-size: 16px;
}

.text-area:focus{
    outline: none;
    border: none
}